   Welcome to Hulton Hotel system. It does not seem you are logged in. If you have an account please login, else register here.
   <br>
   <br>
    <legend class="">Register</legend>
    <form action="" method=post>
      <dl>
        {% from "_formhelpers.html" import render_field %}
        {{ form.hidden_tag() }}
        {{ render_field(form.email) }}
        <p class="help-block">Please provide your E-mail</p>
        {{ render_field(form.name) }}
        <p class="help-block">Please provide your name</p>
        {{ render_field(form.phone) }}
        <p class="help-block">Please provide your phone number</p>
        {{ render_field(form.address) }}
        <p class="help-block">Please provide your full address</p>
        {{ render_field(form.password) }}
        <p class="help-block">Password should be between 4 and 50 characters</p>
        {{ render_field(form.role) }}
        <p class="help-block">Choose the role for the user</p>
      </dl>
      <p><input type=submit class="btn btn-success">
    </form>