{% extends "index.html" %}
{% block body %}
    <h2>Welcome</h2>

    <body>
    <form action = '/stats/stat_list' method = 'POST'>
        <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                Begin Date:<div class='input-group date' id='datetimepicker1'>
                    <input type='text' name="dateB" id="dateB" class="form-control" placeholder="2017-12-04"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <small id="GHelp" class="form-text text-muted">Enter your Begin date</small>
        </div>
        <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                End Date:<div class='input-group date' id='datetimepicker2'>
                    <input type='text' name="dateE" id="dateE" class="form-control" placeholder="2017-12-04"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <small id="GHelp" class="form-text text-muted">Enter your End date</small>
        </div>
    <select name="res" id="res">
        <option value="Highest Rated Room Type">Highest Rated Room Type</option>
        <option value="5 Best Customers">5 Best Customers</option>
        <option value="Highest Rated Breakfast">Highest Rated Breakfast</option>
        <option value="Highest Rated Service">Highest Rated Service</option>
    </select>
    <input type="submit" value="Search"/>
    </form>

    <script>
        $(function () {
        $('#datetimepicker1').datetimepicker({
                viewMode: 'days',
                format: 'YYYY-MM-DD'
        });
        $('#datetimepicker2').datetimepicker({
                viewMode: 'days',
                format: 'YYYY-MM-DD'
        });
    });

    //function resultType(){
    //    window.location = "/reservation/stat_list;
    //}
    </script>

    </body>

{% endblock %}