{% extends "index.html" %}
{% block body %}
<div>
    <legend >Selected Reservation</legend>
  {{table}}
    <br/>
    <div><br/>
        Review Type:
        <select name="rest" id="rest">
            <option value ="0"> NONE</option>
            <option value="1">Room Review</option>
            <option value="2">Breakfast Review</option>
            <option value="3">Service Review</option>
        </select>
    </div><br/>
    <div style = 'display: none;' id = 'RoomRev' ><br/>
        Room Type : <br/>
        <select name="rtype" id="rtype">
            <option value ="rno"> NONE</option>
            <option value="single">Single</option>
            <option value="double">Double</option>
            <option value="deluxe">Deluxe</option>
            <option value="suite">Suite</option>
        </select><br/>&nbsp;
        <br/>
        Rating: <br/>
        <div id = "rb">
            <label class="radio-inline"><input type="radio" name="optradio1" value="1" checked = "checked">1/5</label>  &nbsp;
            <label class="radio-inline"><input type="radio" name="optradio1" value="2">2/5</label>  &nbsp;
            <label class="radio-inline"><input type="radio" name="optradio1" value="3">3/5</label>  &nbsp;
            <label class="radio-inline"><input type="radio" name="optradio1" value="4">4/5</label>  &nbsp;
            <label class="radio-inline"><input type="radio" name="optradio1" value="5">5/5</label>  &nbsp;

        </div>
               <input type="submit" id = 'Validate1' class = "btn btn-primary" value="validate"/>
        <br/><br/>
        <form action = "/feedback/success" method = 'POST'>
        Thoughts on the room? <br/>
        <textarea maxlength = "144" id =description name = 'description' cols = "50" rows = "6" ></textarea>
        <div id ="textarea_feedback"></div>
        <br/>

        <div><input type="submit" value="Submit"/></div>
          </form>
    </div>
    <div style ='display: none;' id = 'BFRev'><br/>
        Breakfast Type : <br/>
        <select name="bftype" id="bftype">
            <option value ="bno"> NONE</option>
            <option value="Bengali">Bengali</option>
            <option value="American">American</option>
            <option value="Chinese">Chinese</option>
            <option value="Mexican">Mexican</option>
        </select><br/>&nbsp;
        <br/>
         Rating: <br/>
        <div id = "bb">
            <label class="radio-inline"><input type="radio" name="optradio2" value="1" checked = "checked">1/5</label>  &nbsp;
            <label class="radio-inline"><input type="radio" name="optradio2" value="2">2/5</label>  &nbsp;
            <label class="radio-inline"><input type="radio" name="optradio2" value="3">3/5</label>  &nbsp;
            <label class="radio-inline"><input type="radio" name="optradio2" value="4">4/5</label>  &nbsp;
            <label class="radio-inline"><input type="radio" name="optradio2" value="5">5/5</label>  &nbsp;
             <input type="submit" id = 'Validate2' class = "btn btn-primary" value="validate"/>
        </div>
        <br/><br/>
        <form action = "/feedback/success" method = 'POST'>
        Thoughts on the food? <br/>
        <textarea maxlength = "144" id =description2 name = 'description2' cols = "50" rows = "6" ></textarea>
        <div id ="textarea_feedback2"></div>
        <br/>
        <div><input type="submit" value="Submit"/></div>
        </form>
    </div>
    <div style ='display: none;' id = 'SRev'><br/>
        Services Offered: <br/>
        <select name="stype" id="stype">
            <option value ="sno"> NONE</option>
            <option value="cleaning">Cleaning</option>
            <option value="laundry">Laundry</option>
            <option value="wifi">Wi-Fi</option>
        </select><br/> &nbsp;
        <br/>
        Rating: <br/>
        <div id = "sb">
        <label class="radio-inline"><input type="radio" name="optradio3" value="1" checked = "checked">1/5</label>  &nbsp;
        <label class="radio-inline"><input type="radio" name="optradio3" value="2">2/5</label>  &nbsp;
        <label class="radio-inline"><input type="radio" name="optradio3" value="3">3/5</label>  &nbsp;
        <label class="radio-inline"><input type="radio" name="optradio3" value="4">4/5</label>  &nbsp;
        <label class="radio-inline"><input type="radio" name="optradio3" value="5">5/5</label>  &nbsp;
            <input type="submit" id = 'Validate3' class = "btn btn-primary" value="validate"/>
        </div>
        <br/><br/>
                <form action = "/feedback/success" method = 'POST'>
        Thoughts on the service?<br/>
        <textarea maxlength = "144" id =description3 name = 'description3' cols = "50" rows = "6" ></textarea>
        <div id ="textarea_feedback3"></div>
        <br/>
        <div><input type="submit" value="Submit"/></div>
                </form>
    </div>
    </form>
</div>
<script>

  $(document).ready(function(){
        $('#rest').on('change',function(){
        RevType = this.value;
            if( this.value == '1')
            {
                $("#RoomRev").show();
                $("#BFRev").hide();
                $("#SRev").hide();
                ReviewType = 1
            }
            else if(this.value == '2')
            {
                $("#BFRev").show();
                $("#RoomRev").hide();
                $("#SRev").hide();
                ReviewType = 2
            }
            else if(this.value == '3')
            {
                $("#SRev").show();
                $("#RoomRev").hide();
                $("#BFRev").hide();
                ReviewType = 3
            }
            else
            {
                $("#RoomRev").hide();
                $("#BFRev").hide();
                $("#SRev").hide();
            }
        });
    });

    $(document).ready(function() {
    var text_max = 144;
    $('#textarea_feedback').html(text_max + ' characters remaining');

    $('#description').keyup(function() {
        var text_length = $('#description').val().length;
        var text_remaining = text_max - text_length;

        $('#textarea_feedback').html(text_remaining + ' characters remaining');
        });
    });

    $(document).ready(function() {
    var text_max = 144;
    $('#textarea_feedback2').html(text_max + ' characters remaining');

    $('#description2').keyup(function() {
        var text_length = $('#description2').val().length;
        var text_remaining = text_max - text_length;

        $('#textarea_feedback2').html(text_remaining + ' characters remaining');
        });
    });

    $(document).ready(function() {
    var text_max = 144;
    $('#textarea_feedback3').html(text_max + ' characters remaining');

    $('#description3').keyup(function() {
        var text_length = $('#description3').val().length;
        var text_remaining = text_max - text_length;

        $('#textarea_feedback3').html(text_remaining + ' characters remaining');
        });
    });
    $('#Validate1').click(function(){
            senddata()
            });
    $('#Validate2').click(function(){
            senddata()
            });
    $('#Validate3').click(function(){
            senddata()
            });

    function senddata(){

        if(ReviewType == '1')
        (
          radioValue = $('input[name=optradio1]:checked').val()
        )
        else if(ReviewType == '2')
        (
           radioValue = $('input[name=optradio2]:checked').val()
         )
         else if(ReviewType == '3')
         (
            radioValue = $('input[name=optradio3]:checked').val()
         )
         else
            (
            radioValue = 0
            )
        rootype = $("#rtype").val()
        breakftype = $("#bftype").val()
        servtype = $("#stype").val()
        console.log(rootype);
        console.log(breakftype);
        console.log(servtype);
        console.log(radioValue);
        console.log(ReviewType);
        $.ajax({
             url: "/feedback/rating",
             type: "POST",
             data: JSON.stringify({radioValue: radioValue,  ReviewType: ReviewType, rootype: rootype, breakftype: breakftype, servtype: servtype}),
             contentType: "application/json; charset=utf-8",
            success: function(data) { result = JSON.parse(data);
            console.log(result)
             },
             error: function(error){
                   console.log(error);
             }
            });
    }

</script>
{% endblock %}