{% extends "index.html" %}
{% block body %}
    <legend>Search Hotels</legend>
        <div class = "row">
            <div class = "col-sm-4">
                Search by Country: <input type="text" name="country" class = "form-control" id="country" placeholder="US" />
            </div>
            <div class = "col-sm-4">
                Search by State: <input type="text" name="state" class = "form-control" id="state" placeholder="NJ" />
            </div>
            <br>
            <input type="submit" id = 'searchHotel' class = "btn btn-primary" value="Search"/>
        </div>

    <div id="hotelList" style="display: none;">
  <table class="table table-striped" id = 'table'>
    <thead>
      <tr>
        <th>Hotel ID</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Reserve</th>
      </tr>
    </thead>
  </table>

    </div>


<script>

   $( "#searchHotel" ).click(function() {
    $("#hotelList").css('display', 'inline');
    loadHotels()
  });


   function loadHotels(){
    country = $('#country').val()
    state = $('#state').val()

    $.ajax({
    url: "/reservation/load_hotel",
    type: "POST",
    data: JSON.stringify({country: country, state: state}),
    contentType: "application/json; charset=utf-8",
    success: function(data) { result = JSON.parse(data); 
        console.log(result)
        setHotels(result)
    },
    error: function(xhr, textStatus, errorThrown){
    }
});



   }

   function setHotels(values){
    $("#table tbody tr").remove();
  var mixed = document.getElementById("table");
  var tbody = document.createElement("tbody");
  // for each outer array row
  for (var i = 0 ; i < values.length; i++) {
     var tr = document.createElement("tr");

     // for each inner array cell
     // create td then text, append
     for (var j = 0; j < values[i].length; j++) {
       var td = document.createElement("td");
       var txt = document.createTextNode(values[i][j]);
       td.appendChild(txt);
       tr.appendChild(td);
     }

     var td = document.createElement("td")
     var txt = document.createElement("BUTTON");  
     txt.classList.add('btn');
     txt.classList.add('btn-primary')
     txt.innerText = "Book Now"
     txt.setAttribute( "onClick", "window.location.href='/reservation/make_res?id=" + values[i][0] + "'" );
     var txt2 = document.createTextNode(`<form>
<input type="button" value="Put Your Text Here" onclick="window.location.href='http://www.hyperlinkcode.com/button-links.php'" />
</form>`);
     td.appendChild(txt)
     tr.appendChild(td)
     // append row to table
     // IE7 requires append row to tbody, append tbody to table
     tbody.appendChild(tr);
     mixed.appendChild(tbody);
    }
    }

</script>

{% endblock %}